/***************************************
	공통 사항
***************************************/


/***************************************
	
***************************************/

h1.hlist {
position: absolute;
width: 89px;
height: 29px;
left: 674px;
top: 120px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #3D3D3D;
	
}

br {
	position: absolute;
width: 1000px;
height: 0px;
left: 220px;
top: 169.11px;

border: 3px solid #3D3D3D;
transform: rotate(-0.01deg);
}

div.aname {
	position: absolute;
width: 154.87px;
height: 95px;
left: 220px;
top: 184px;

background: #98DFFF;
}

div.aname > span {

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

form[name="areaForm"] {
position: absolute;
width: 845px;
height: 95px;
left: 375px;
top: 184px;

background: #F5F5F5;
}

div.time {
	position: absolute;
width: 155px;
height: 45px;
left: 220px;
top: 289px;

background: #98DFFF;
}

form[name="timeForm"] {
position: absolute;
width: 845px;
height: 45px;
left: 375px;
top: 289px;

background: #F5F5F5;
}

div.animal {
	position: absolute;
width: 155px;
height: 45px;
left: 220px;
top: 344px;

background: #98DFFF;
}

form[name="animalForm"] {
	position: absolute;
width: 845px;
height: 45px;
left: 375px;
top: 344px;

background: #F5F5F5;
}