/***************************************
	공통 사항
***************************************/
* {
	margin: 0px;
	padding: 0px;
	color: #3d3d3d;
}

div.search_main {
	border: 1px solid gray;
	width: 1000px;
	margin: auto;
	text-align: center;
}


/***************************************
	section_filter
***************************************/
h1.title {
	text-align:center;
	font-size:24px;
	font-weight:bold;
	padding:20px 0px;
	border-bottom:3px solid #3d3d3d;
	pargin-bottom:15px;
}

div.area {
	
}

div.area {
	border: 1px solid green;	
	display: flex;
	align-items: center;
	
}

div.text_area {
	
	width: 155px;
	height: 95px;
	background: #98DFFF;
	text-align: center;
	margin: 15px 0px;
	float: left;
}

div.text_area span {
	color: white;
}

div.check_area {
	border: 1px solid red;	
	width: 845px;
	height: 95px;
	background: #F5F5F5;
}

div.check_area ul {
	list-style-type:none;
	float: left;
}

div.check_area ul li {
	float: left;
}







